/* Brand Name Font */
.navbar-brand{
font-family: 'Ubuntu', sans-serif;
font-size: 2em;
font-weight: bold;
}

/* Give margine after the tagline */
.navbar-text{
    overflow: visible;
    white-space: nowrap;
    margin-right: 110px;
}

/* Change Navigation color  */
.navbar #myMenu .custom-nav .nav-item a{
    color: #FFFFFF;
}

.navbar #myMenu .custom-nav .nav-item a:hover{
    color: #eabaee;
}

/* Make Header Image Responsive */
.back-image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    border-radius: 0px;
    margin-top: 80px;
}

/* Header Image Sub-Title */
.headercls{
    font-size: 22px;
}

/* Margin for Welcome to TheIndus */
.mainHeading{
    margin-top: 125px;
}