/* Brand Name Font */
.navbar-brand{
font-family: 'Ubuntu', sans-serif;
font-size: 2em;
font-weight: bold;
}

/* Give margine after the tagline */
.navbar-text{
    overflow: visible;
    white-space: nowrap;
    margin-right: 110px;
}

/* Change Navigation color  */
.navbar #myMenu .custom-nav .nav-item a{
    color: #FFFFFF;
}

.navbar #myMenu .custom-nav .nav-item a:hover{
    color: #F0AAB1;
}